left-img-left-img-1 {
  height: 10px;
  width: 10px;
}

navbar-navigation-right {
  font-size: 1vh;
}

left-img-left-img-3 {
  height: 1vh;
  width: 20vw;
}

navbar-navigation {
  font-size: 10vh;
}

card-overlay {
  width: 10vw;
}

card-img {
  width: 5vw;
}

card-overlay {
  width: 10vw;
}

card-img {
  width: 5vw;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 98.8vw;
}

.navbar {
  text-decoration: none;
}

.fa-utensils {
  margin-top: 15vh;
  font-size: 12vh;
  color: rgba(173, 34, 34, 0.507);
  -webkit-text-stroke: 2px black;
}

.nav-sapcing {
  height: 2vh;
  padding: 10vh;
  width: 90vw;
  margin-top: -10vh;
}

.nav-list-link:hover {
  background-color: rgba(134, 133, 129, 0.342);
  border-radius: 10px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.brand-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 6vh;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.513);
}

.sub-name {
  font-size: 8vh;
  margin-right: 1vw;
}

.navbar-navigation {
  background-image: url(../images/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 98vw;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-list-link {
  font-size: 5vh;
  color: #9e9e8d;
  font-family: fantasy;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  letter-spacing: 2px;
  -webkit-text-stroke: 2px black;
  color: white;
}

.menu-line-1 {
  background-color: #9e4c4c;
  height: 2vh;
}

.menu-line-2 {
  background-color: #0f0f0f;
  height: 2vh;
  margin-top: 1vh;
}

.menu-line-3 {
  background-color: #2d531b;
  height: 2vh;
  margin-top: 1vh;
}

.left-img-1 {
  height: auto;
  width: 98vw;
}

.left-img-3 {
  height: auto;
  width: 20vw;
}

.left-img-2 {
  height: auto;
  width: 20vw;
}

.about-us {
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/nav-img-1.jpeg);
  color: rgba(255, 255, 255, 0.63);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2vh;
  padding: 10vh;
}

.about-us-right {
  margin-left: 45vw;
}

.card-overlay-paragraph {
  font-size: 3vh;
}

.card-overlay-btn {
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  font-size: 2vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-overlay-btn:hover {
  background-color: rgba(144, 134, 134, 0.856);
}

.card {
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: x-small;
  text-align: center;
  border: 2px solid black;
  padding: 0.2vh;
  background-image: url(../images/gallery-img-5.jpeg);
}

.card-img {
  width: 50vw;
  height: 55vh;
}

.cards-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.card-overlay {
  margin-top: 10vh;
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  color: wheat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 4px solid white;
}

.footer {
  background-image: url(../images/bg.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-position: bottom;
}

.main-names {
  font-size: 6vh;
  -webkit-text-stroke: 2px rgba(80, 34, 34, 0.924);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

.social-media-link {
  color: #f8e5e5;
  font-size: 5vh;
  padding: 2vh;
}

.description {
  width: 29vw;
  padding: 1vh;
}

.main-btn {
  background-color: rgba(128, 128, 128, 0.596);
  color: white;
  height: 4vh;
  width: 10vw;
  margin-top: 2vh;
  margin-left: 19vw;
}

.sub-names {
  font-size: 6vh;
  -webkit-text-stroke: 2px rgba(80, 34, 34, 0.924);
}

.footer-copyright-paragraph {
  font-size: 2vh;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.924);
}
