// En layout vamos a setear los estilos correspondientes al layout
// Se trabaja con los elementos div y section teniendo en cuenta su className y algunos elementos con estilos no reutilizables

left-img-left-img-1{
    height: 10px;
    width: 10px;
}
navbar-navigation-right{
    font-size:1vh;
}
left-img-left-img-3{
    height: 1vh;
    width: 20vw;
}
navbar-navigation{
    font-size: 10vh;
}
card-overlay{
    width: 10vw;
}
card-img{
    width: 5vw;
}
card-overlay{
    width: 10vw;
}
card-img{
    width: 5vw;
}